@model Note
@inject Microsoft.Extensions.Options.IOptions<MyApp.Settings.DotNetNoteSetting> option

<h2 style="text-align:center;">Projects Blog</h2>
<span style="color: #ff0000">
    글 보기 - 현재 글에 대해서 수정 및 삭제를 할 수 있습니다.
</span>
<hr />

<table style="width:100%">
    <tbody>
        <tr style="color: white; background-color: #46698c;">
            <td style="width: auto; text-align: right;">
                <b style="font-size: 18px">Title </b> :
            </td>
            <td colspan="3" style="width:auto;">
                <span style="font-weight:bold;font-size:18px;">
                    @Model.Title
                </span>
            </td>
        </tr>
        <tr style="background-color: #efefef;">
            <td style="text-align:left; width:65px;">
                번 호 :
            </td>
            <td>
                <span style="text-align:left">@Model.Id</span>
            </td>
            <td style="text-align:left; width:65px;">
                조회수 :
            </td>
            <td>
                <span style="text-align:left;">@Model.ReadCount</span>
            </td>
        </tr>
        @*<tr style="background-color: #efefef;">
            <td style="text-align:left; width:65px;">
                이 름 :
            </td>
            <td colspan="3">
                <span style="text-align:left;">@Model.Name</span>
            </td>
        <tr style="background-color: #efefef;">
            <td style="text-align:left; width:65px;">
                E-mail :
            </td>
            <td colspan="3">
                <a href="mailto:@Model.Email" style="text-align:left;">@Model.Email</a>
            </td>
        </tr>*@
        <tr style="background-color: #efefef;">
            <td style="text-align:left;">
                작성일 :
            </td>
            <td colspan="3">
                <span style="text-align:left;">@Model.PostDates</span>
            </td>
        </tr>
        <tr style="background-color: #efefef;">
            <td style="text-align:left;">
                파일 :
            </td>
            <td colspan="3" style="text-align:left;">
                @Html.Raw(ViewBag.FileName)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <hr />
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div style="width:100%; padding:10px;">
        <textarea asp-for="Content" class="form-control" readonly="readonly"; disabled;></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
</div>
<div>
    @await Html.PartialAsync("_BoardCommentControl", (NoteCommentViewModel)ViewBag.CommentListAndId)
</div>
<div style="text-align:center;">
    @if (User.IsInRole("UsersInfo") && User.FindFirst("Email").Value == option.Value.SiteAdmin)
    {
        <a asp-action="Pinned" asp-route-id="@Model.Id" class="btn btn-danger">
            공지로 올리기
        </a>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">
            삭제
        </a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
            수정
        </a>
        <a asp-action="Reply" asp-route-id="@Model.Id" class="btn btn-primary">
            답변
        </a>
    }
    <a asp-action="Index" class="btn btn-primary">리스트</a>
</div>
<br />
<script>
    $('#Content').summernote({
        tabsize: 3,
        toolbar: [],
        onImageUpload: function (files, editor, welEditable) {
            sendFile(files[0], editor, welEditable);
        },
    });
    $('#Content').summernote('disable');
    $('#Content').height($(window).height() * 1.0);

    function sendFile(file, editor, welEditable) {
        data = new FormData();
        data.append("uploadFile", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "/files",
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                editor.insertImage(welEditable, data.url);
            }
        });
    }
</script>


