@model IEnumerable<Note>

@inject INoteRepository DnnRepo

@{
    ViewData["Title"] = "Projects Blog";
}
<div class="DotNetNote">
    <div class="Myheader">
        <h2>Full Stack Runner Blog.</h2>
    </div>
    <span style="color: #ff0000">
        쌓여간 Projects 블로그 입니다.
    </span>
    <hr />
    <div class="row">
        <div class="letfcolumn col-lg-9" style="padding-right:0;">
            <div class="MyCard" style="padding-bottom:0;">
                <div class="d-flex flex-row-reverse">
                    <span style="font-size:20px;" onclick="location.href='@Url.Action("Index", "DotNetNote")'"><i class="fas fa-list-ul"></i></span>&nbsp;&nbsp;
                    <span style="font-size:20px;" onclick="location.href='@Url.Action("IndexCard", "DotNetNote")'"><i class="fas fa-th"></i></span>
                </div>
                <table style="font-family: 'Open Sans', sans-serif; width: 100%;">
                    <tr>
                        <td>
                            <div style="text-align:right;font-size:8pt;">
                                Total Record: @ViewBag.TotalRecord
                            </div>
                            <table class="table table-bordered table-hover table-striped table-sm">
                                <thead class="thead-dark">
                                    <tr style="background-color:rgb(222, 222, 222)">
                                        <th style="width:50px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th style="width:350px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        @*<th style="width:60px; text-align:center">
                                                @Html.DisplayNameFor(model => model.FileName)
                                            </th>*@
                                        @*<th style="width:80px; text-align:center;">
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>*@
                                        <th style="width:100px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.PostDate)
                                        </th>
                                        <th style="width:80px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.ReadCount)
                                        </th>
                                </thead>
                    </tr>

                    @*<cache expires-after="@TimeSpan.FromMinutes(10)">*@
                    @*최근 공지 글 2개 출력: 캐싱 적용*@
                    @foreach (var item in
         DnnRepo.GetNoteSummaryByCategory("Notice").Take(2))
                    {
                        <tr>
                            <td style="text-align:center;">
                                <span class="label label-success"
                                      style="font-size:xx-small">NOTICE</span>
                            </td>
                            <td>
                                @Html.Raw(BoardLibrary.FuncStep(item.Step))
                                <a asp-controller="DotNetNote"
                                   asp-action="Details"
                                   asp-route-id="@item.Id">
                                    <strong>
                                        @StringLibrary.CutStringUnicode(
                                           item.Title, 30)
                                    </strong>
                                </a>
                                <small>
                                    @Html.Raw(BoardLibrary.ShowCommentCount(
                                        item.CommentCount))
                                </small>
                                @Html.Raw(BoardLibrary.FuncNew(item.PostDate))
                            </td>
                            @*<td style="text-align:center;">
                                    @Html.Raw(BoardLibrary.FuncFileDownSingle(item.Id, item.FileName, item.FileSize.ToString(), "DotNetNote", "/BoardDown/"))
                                </td>*@
                            @*<td style="text-align:center;">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>*@
                            <td style="text-align:center;">
                                @BoardLibrary.FuncShowTime(item.PostDate)
                            </td>
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => item.ReadCount)
                            </td>
                        </tr>
                    }
                    @*</cache>*@

                    @*게시글 출력*@
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center;">
                                    @if (item.Step == 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.Id) }
                                    else
                                    {
                                        <text>&nbsp;</text>}
                                </td>
                                <td>
                                    @Html.Raw(BoardLibrary.FuncStep(item.Step))
                                    <a asp-controller="DotNetNote" asp-action="Index"
                                       asp-route-noteId="@item.Id">
                                        @StringLibrary.CutStringUnicode(item.Title, 30)
                                    </a>
                                    <small>
                                        @Html.Raw(BoardLibrary.ShowCommentCount(
                                            item.CommentCount))
                                    </small>
                                    @Html.Raw(BoardLibrary.FuncNew(item.PostDate))
                                </td>
                                @*<td style="text-align:center;">
                                        @Html.Raw(BoardLibrary.FuncFileDownSingle(item.Id, item.FileName, item.FileSize.ToString(), "DotNetNote", "/BoardDown/"))
                                    </td>*@
                                @*<td style="text-align:center;">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>*@
                                <td style="text-align:center;">
                                    @BoardLibrary.FuncShowTime(item.PostDate)
                                </td>
                                <td style="text-align:right;">
                                    @Html.DisplayFor(modelItem => item.ReadCount)
                                </td>
                            </tr>
                        }}
                </table>
                </td>
                </tr>
                @*<tr style="display:flex; flex-wrap:wrap; justify-content:center">
                        <td style="text-align:center;">
                            <dnn-paging-helper url="@Context.Request.Path"
                                               page-index='Convert.ToInt32(Context.Request.Query["Page"])'
                                               page-size="10"
                                               record-count="@ViewBag.TotalRecord"
                                               search-mode='Convert.ToBoolean(@ViewBag.SearchMode)'
                                               search-field="@ViewBag.SearchField"
                                               search-query="@ViewBag.SearchQuery">
                            </dnn-paging-helper>
                        </td>
                    </tr>*@
                <tr style="display:flex; flex-wrap:wrap; justify-content:center">
                    <td class="text-center">
                        @await Html.PartialAsync("_AdvancedPagingWithCss", ViewBag.PageModel as PagerBase)
                    </td>
                </tr>
                <tr>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td style="text-align:right;">
                            <a asp-action="Create" class="btn btn-primary">글쓰기</a>
                        </td>
                    }
                </tr>
                <tr>
                    <td style="text-align:center;">
                        @await Html.PartialAsync("_SearchForm")
                        <br />
                        @if (ViewBag.SearchMode)
                        {
                            <a asp-controller="DotNetNote" asp-action="Index" class="btn btn-success">검색 완료</a>
                        }
                    </td>
                </tr>
                </table>
            </div>
            <div class="MyCard" style="padding:0;">
                <textarea id="Content" name="Content" class="form-control" readonly="readonly" ; disabled;></textarea>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="MyCard">
                <h4>Category</h4>
                <br />
                <a class="btn wave-btn waves-effect waves-green" onClick="expandAll();"><i class="material-icons left">fullscreen</i>Expand</a> &nbsp;
                <a class="btn wave-btn waves-effect waves-green" onClick="collapseAll();"><i class="material-icons left">fullscreen_exit</i>colaps</a>
                <br />
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">search</i><a asp-action="Index">ALL</a></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i><a name="987" />Projects</a></div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Project">ALL</a>
                                </li>
                                @*<li>
                                    <i class="material-icons tiny">fiber_manual_record</i>
                                </li>*@
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Framework</div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Web">ALL</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>DataBase</div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="DataBase">ALL</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Algorithm</div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Algorithm">ALL</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Anything</div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Anything">ALL</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var txt = '@ViewBag.Content';
    txt = chageString(txt);
    $('#Content').summernote({
        tabsize: 3,
        toolbar: []
    });
    $('#Content').summernote('disable');
    $('#Content').summernote('code', txt.toString());
    $('#Content').height($(window).height() * 1.0);

    function chageString(query) {
        query = query.replaceAll("&#xD;&#xA;", "\n");
        query = query.replaceAll("&amp;", " ");
        query = query.replaceAll("&nbsp;", " ");
        query = query.replaceAll("&#x9;", " ");
        query = query.replaceAll("&#xA;", "\n");
        query = query.replaceAll("&#x27;", "'");
        query = query.replaceAll("&gt;", ">");
        query = query.replaceAll("&lt;", "<");
        query = query.replaceAll("&quot;", "");
        query = query.replaceAll("nbsp;", " ");
        return query;
    }


    function expandAll() {
        $(".collapsible-header").addClass("active");
        $(".collapsible").collapsible({ accordion: false });
    }

    function collapseAll() {
        $(".collapsible-header").removeClass(function () {
            return "active";
        });
        $(".collapsible").collapsible({ accordion: true });
        $(".collapsible").collapsible({ accordion: false });
    }
</script>


