@model IEnumerable<Note>

@inject INoteRepository DnnRepo
@inject Microsoft.Extensions.Options.IOptions<MyApp.Settings.DotNetNoteSetting> option

@{
    ViewData["Title"] = @ViewBag.Title;
}
<div class="DotNetNote">
    <div class="Myheader">
        <h1>Full Stack Runner Blog.</h1>
        <div style="color: #002c9b; text-align:center; font-size:18px;">
            <b>쌓여간 블로그 입니다.</b>
        </div>
    </div>
    <div class="row">
        <div class="letfcolumn col-lg-9" style="padding-right:0;">
            <div class="MyCard" style="padding-bottom:0;">
                <div>
                    @if (ViewBag.Category != null)
                    {<span class="float-left" style="color: #002c9b;">@ViewBag.Category 의 글입니다.</span>}
                </div>
                <br/>
                <div class="row">
                    <span class="col d-block d-sm-none" style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; open</span>
                    <div class="col d-flex flex-row-reverse">
                        <span style="font-size:20px;" onclick="location.href='@Url.Action("Index", "DotNetNote")'"><i class="fas fa-list-ul"></i></span>&nbsp;&nbsp;
                        <span style="font-size:20px;" onclick="location.href='@Url.Action("IndexCard", "DotNetNote")'"><i class="fas fa-th"></i></span>
                    </div>
                </div>
                <table style="font-family: 'Open Sans', sans-serif; width: 100%;">
                    <tr>
                        <td>
                            <div style="text-align:right;font-size:8pt;">
                                Total Record: @ViewBag.TotalRecord
                            </div>
                            <table class="table table-bordered table-hover table-striped table-sm">
                                <tr class="thead-dark">
                                    <th style="width:50px; text-align:center;">
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th style="width:350px; text-align:center;">
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    @*<th style="width:60px; text-align:center">
                                @Html.DisplayNameFor(model => model.FileName)
                            </th>*@
                                    @*<th style="width:80px; text-align:center;">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>*@
                                    <th style="width:100px; text-align:center;">
                                        @Html.DisplayNameFor(model => model.PostDate)
                                    </th>
                                    <th style="width:80px; text-align:center;">
                                        @Html.DisplayNameFor(model => model.ReadCount)
                                    </th>
                                </tr>

                                @*<cache expires-after="@TimeSpan.FromMinutes(10)">*@
                                @*최근 공지 글 2개 출력: 캐싱 적용*@
                                @foreach (var item in
DnnRepo.GetNoteSummaryByCategory("Notice").Take(2))
                                {
                                    <tr>
                                        <td style="text-align:center;">
                                            <span class="label label-success"
                                                  style="font-size:xx-small">NOTICE</span>
                                        </td>
                                        <td>
                                            @Html.Raw(BoardLibrary.FuncStep(item.Step))
                                            <a asp-controller="DotNetNote"
                                               asp-action="Details"
                                               asp-route-id="@item.Id">
                                                <strong>
                                                    @StringLibrary.CutStringUnicode(
                                                       item.Title, 30)
                                                </strong>
                                            </a>
                                            <small>
                                                @Html.Raw(BoardLibrary.ShowCommentCount(
                                                    item.CommentCount))
                                            </small>
                                            @Html.Raw(BoardLibrary.FuncNew(item.PostDate))
                                        </td>
                                        @*<td style="text-align:center;">
                                    @Html.Raw(BoardLibrary.FuncFileDownSingle(item.Id, item.FileName, item.FileSize.ToString(), "DotNetNote", "/BoardDown/"))
                                </td>*@
                                        <td style="text-align:center;">
                                            @BoardLibrary.FuncShowTime(item.PostDate)
                                        </td>
                                        <td style="text-align:right;">
                                            @Html.DisplayFor(modelItem => item.ReadCount)
                                        </td>
                                    </tr>
                                }
                                @*</cache>*@

                                @*게시글 출력*@
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center;">
                                                @if (item.Step == 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Id) }
                                                else
                                                {
                                                    <text>&nbsp;</text>}
                                            </td>
                                            <td>
                                                <a asp-controller="DotNetNote" asp-action="Index"
                                                   asp-route-noteId="@item.Id" asp-route-Page="@(ViewBag.PageIndex +1)">
                                                    @StringLibrary.CutStringUnicode(item.Title, 30)
                                                </a>
                                                <small>
                                                    @Html.Raw(BoardLibrary.ShowCommentCount(
                                                        item.CommentCount))
                                                </small>
                                                @Html.Raw(BoardLibrary.FuncNew(item.PostDate))
                                            </td>
                                            @*<td style="text-align:center;">
                                        @Html.Raw(BoardLibrary.FuncFileDownSingle(item.Id, item.FileName, item.FileSize.ToString(), "DotNetNote", "/BoardDown/"))
                                    </td>*@
                                            <td style="text-align:center;">
                                                @BoardLibrary.FuncShowTime(item.PostDate)
                                            </td>
                                            <td style="text-align:right;">
                                                @Html.DisplayFor(modelItem => item.ReadCount)
                                            </td>
                                        </tr>
                                    }}
                            </table>
                        </td>
                    </tr>
                    <tr style="display:flex; flex-wrap:wrap; justify-content:center">
                        <td class="text-center">
                            @await Html.PartialAsync("_AdvancedPagingWithCss", ViewBag.PageModel as PagerBase)
                        </td>
                    </tr>
                    <tr>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <td style="text-align:right;">
                                <a asp-action="Create" class="btn btn-primary">글쓰기</a>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            @await Html.PartialAsync("_SearchForm")
                            <br />
                            @if (ViewBag.SearchMode)
                            {
                                <a asp-controller="DotNetNote" asp-action="Index" class="btn btn-success">검색 완료</a>
                            }
                        </td>
                    </tr>
                </table>
            </div>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    if (item.isMain)
                    {
                        var data = item.Content;
                        <div class="MyCard" style="padding:0;">
                            <div class="title"><p>&nbsp;Title: @item.Title</p></div>
                            <textarea name="Content" id="Content" asp-for=@data class="form-control" readonly="readonly" ; disabled;></textarea>
                        </div>
                        <div style="text-align:center; z-index:99;">
                            @if (User.IsInRole("UsersInfo") && User.FindFirst("Email").Value == option.Value.SiteAdmin)
                            {
                                <a asp-action="Pinned" asp-route-id="@item.Id" class="btn btn-danger">
                                    공지로 올리기
                                </a>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">
                                    삭제
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                    수정
                                </a>
                                <a asp-action="Reply" asp-route-id="@item.Id" class="btn btn-primary">
                                    답변
                                </a>
                            }
                        </div>
                        break;
                    }
                }
            }
            <div class="leftcolumn">
                @await Html.PartialAsync("_BoardCommentControl", (NoteCommentViewModel)ViewBag.CommentListAndId)
            </div>
        </div>
        <div class="rightcolumn">
            <div class="MyCard">
                <h4>Category</h4>
                <br />
                <a class="btn wave-btn waves-effect waves-purple" onClick="expandAll();"><i class="material-icons left">fullscreen</i>Expand</a> &nbsp;
                <a class="btn wave-btn waves-effect waves-purple" onClick="collapseAll();"><i class="material-icons left">fullscreen_exit</i>colaps</a>
                <br />
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">search</i><a asp-action="Index">ALL</a></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i><a name="987" />Projects</a> <small class="red-text">(+ @ViewBag.Project)</small></div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny" style="font-size:9px">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Project">ALL</a>
                                </li>
                                <li>
                                    <i class="material-icons tiny" style="font-size:9px">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Project">.Net Core</a>
                                </li>
                                <li>
                                    <i class="material-icons tiny" style="font-size:9px">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Project">Spring</a>
                                </li>
                                <li>
                                    <i class="material-icons tiny" style="font-size:9px">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Project">Flask</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>DataBase<small class="red-text"> (+ @ViewBag.Database)</small></div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny" style="font-size:9px">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="DataBase">ALL</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Algorithm<small class="red-text"> (+ @ViewBag.Algorithm)</small></div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny" style="font-size:9px">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Algorithm">ALL</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Anything<small class="red-text"> (+ @ViewBag.Anything)</small></div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <i class="material-icons tiny" style="font-size:9px">fiber_manual_record</i>
                                    <a asp-action="Index" asp-route-category="Anything">ALL</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-action="Index">All</a>
    <a asp-action="Index" asp-route-category="Project">Projects</a>
    <a asp-action="Index" asp-route-category="Database">Database</a>
    <a asp-action="Index" asp-route-category="Algorithm">Algorithm</a>
    <a asp-action="Index" asp-route-category="Anything">Anything</a>
</div>
<script>
    $(document).ready(function () {
        expandAll();
    });

    $('#Content').summernote({
        tabsize: 3,
        toolbar: []
    });
    $('#Content').summernote('disable');
    $('#Content').height($(window).height() * 1.0);

    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function expandAll() {
        $(".collapsible-header").addClass("active");
        $(".collapsible").collapsible({ accordion: false });
    }

    function collapseAll() {
        $(".collapsible-header").removeClass(function () {
            return "active";
        });
        $(".collapsible").collapsible({ accordion: true });
        $(".collapsible").collapsible({ accordion: false });
    }

    var title = $(".title").val;
    var content = $('#Content').val;
    $("meta[property='og\\:title']").attr("content", title);
    $("meta[property='og\\:description']").attr("content", content );

</script>


